@import "node_modules/ol/ol.css";

html, body {
  margin: 0;
  height: 99%;
  width: 99%;
}
.map {

  position: absolute;
  top: 1px;
  bottom: 1px;
  left: 1px;
  right: 1px ;
  height: 100%;
  width: 100%;
}
.coords{
  overflow: hidden; 
  color:transparent;
}

@media screen and (max-width: 768px){
  ::-webkit-scrollbar {
      -webkit-appearance: none;
  }
}

  ::-webkit-scrollbar {
    -webkit-appearance: none;
}